 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/wallpaperbetter.com_2560x1440.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 653px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 232px 104px 60px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 183px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 550px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 550px;
  background-image: url("images/sentinskiy-hram-700x465.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-2 .u-image-1 {
    min-height: 475px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 22px;
    margin-right: 270px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-image-1 {
    min-height: 205px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 576px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 41px 0 60px;
}

.u-section-3 .u-image-1 {
  min-height: 451px;
  background-image: url("images/__.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 30px auto 0 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 137px 0 30px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 47px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-3 .u-image-1 {
    min-height: 322px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-3 .u-image-1 {
    min-height: 247px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-3 .u-image-1 {
    min-height: 371px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 189px;
    order: 1;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 336px;
    order: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 52px;
    margin-right: 279px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 15px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 466px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 482px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
}

.u-section-4 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-4 .u-image-1 {
  min-height: 482px;
  background-image: url("images/churkambeek.jpg");
}

.u-section-4 .u-container-layout-2 {
  padding: 0 11px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-4 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-image-1 {
    min-height: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 395px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -62px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 24px;
    margin-right: 274px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 222px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 736px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 104px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 632px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 494px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 632px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 16px auto 0 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 12px auto 0 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 16px 51px 0 30px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-5 .u-image-1 {
    height: 427px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-5 .u-image-1 {
    height: 352px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-5 .u-image-1 {
    height: 270px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-5 .u-image-1 {
    height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 91px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 238px;
    order: 1;
  }

  .u-section-5 .u-image-1 {
    height: 255px;
    margin-top: -17px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 719px;
    order: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 27px;
    margin-right: 275px;
    margin-left: 15px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 22px;
    margin-left: 15px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 466px;
  background-image: url("images/peereeeeval.jpg");
}

.u-section-6 .u-container-layout-2 {
  padding: 0 10px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-6 .u-image-1 {
    min-height: 402px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-image-1 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    min-height: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 1px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 9px 6px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 6px;
    margin-right: 282px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 233px;
    background-position: 78.37% 50%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 269px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 678px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 114px;
  margin-bottom: 60px;
}

.u-section-7 .u-image-1 {
  min-height: 451px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/zeleni-asstroff.jpg");
  background-size: 105%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 464px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 auto 0 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 137px 0 30px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-image-1 {
    min-height: 390px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 47px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-7 .u-image-1 {
    min-height: 322px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-7 .u-image-1 {
    min-height: 247px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-7 .u-image-1 {
    min-height: 371px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 95px;
    margin-bottom: 43px;
  }

  .u-section-7 .u-image-1 {
    min-height: 183px;
    order: 1;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 479px;
    order: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 282px;
    margin-left: 10px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 10px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 516px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 5px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 15px auto 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 466px;
  background-image: url("images/vadopeeezda.jpg");
  background-position: 0% 0%;
  background-size: auto 105%;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1399px) {
  .u-section-8 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-8 .u-image-1 {
    min-height: 402px;
  }
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-8 .u-image-1 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 381px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 3px 0 17px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 1px;
    margin-right: 277px;
    margin-left: 10px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 140px;
    background-position: 33.82% 57.84%;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 621px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-9 .u-image-1 {
  min-height: 451px;
  background-image: url("images/observatory.jpg");
  background-position: 50.31% 90.26%;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 30px auto 0 30px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 30px;
}

.u-section-9 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 137px 0 30px;
}

@media (max-width: 1399px) {
  .u-section-9 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-image-1 {
    min-height: 390px;
    background-size: auto 195%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 47px;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-9 .u-image-1 {
    min-height: 322px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-9 .u-image-1 {
    min-height: 247px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-9 .u-image-1 {
    min-height: 371px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-9 .u-image-1 {
    min-height: 209px;
    order: 1;
    background-size: 195%;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 448px;
    order: 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 22px;
    margin-left: 13px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 400px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 700;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-10 .u-image-1 {
  min-height: 466px;
  background-image: url("images/be129d6e-909a-f507-bd12-cc11122b3338.jpg");
  background-size: auto 110%;
  background-position: 0% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 30px;
}

@media (max-width: 1399px) {
  .u-section-10 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-10 .u-image-1 {
    min-height: 402px;
  }
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-10 .u-image-1 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    min-height: 254px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    min-height: 381px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 18px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 1px;
    margin-right: 265px;
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-10 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-10 .u-image-1 {
    min-height: 209px;
    background-size: 110%;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 541px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  min-height: 451px;
  background-image: url("images/alimbekxyecoc.jpg");
  background-position: 0% 50%;
  background-size: auto 115%;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 451px;
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 7px auto 0 30px;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 30px;
}

.u-section-11 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 137px 0 30px;
}

@media (max-width: 1399px) {
  .u-section-11 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-image-1 {
    min-height: 390px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 400px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 47px;
  }
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-11 .u-image-1 {
    min-height: 322px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-11 .u-image-1 {
    min-height: 247px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-11 .u-image-1 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-11 .u-image-1 {
    min-height: 198px;
    order: 1;
    background-size: 115%;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 413px;
    order: 0;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 14px;
    margin-left: 8px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-left: 8px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 8px;
    margin-right: 22px;
    margin-left: 8px;
  }
}